* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  /* background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  ); */
  background: linear-gradient(89deg, #27b25d, #2171a8, #6870df, #43db85);
  background-size: 800% 800%;

  -webkit-animation: bgAnimation 40s ease infinite;
  -moz-animation: bgAnimation 40s ease infinite;
  animation: bgAnimation 40s ease infinite;
}

@-webkit-keyframes bgAnimation {
  0% {
    background-position: 0% 33%;
  }
  50% {
    background-position: 100% 68%;
  }
  100% {
    background-position: 0% 33%;
  }
}
@-moz-keyframes bgAnimation {
  0% {
    background-position: 0% 33%;
  }
  50% {
    background-position: 100% 68%;
  }
  100% {
    background-position: 0% 33%;
  }
}
@keyframes bgAnimation {
  0% {
    background-position: 0% 33%;
  }
  50% {
    background-position: 100% 68%;
  }
  100% {
    background-position: 0% 33%;
  }
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 700px;
  min-height: 200px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 52px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #c5badc;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(55, 14, 238) 0%,
    rgb(206, 16, 152) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgb(60, 183, 245) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(211, 43, 31) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(201, 27, 143) 0%,
    rgb(223, 50, 142) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgb(89, 131, 187) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
